/* Reason for this:
1. I often need to define 2-3 margins, but not all 4,
2. I don't want to overwrite values like margin: 0; completely, but I want a specific margin-top, but I still want all 3 other values to be 0.
*/
.section3 .main-panel, .section1, .section2, .section3, .section4, .section5, .section6, .section7, .section3 .projects, .project-display, .keys, input.typeahead-search, .main-panel, .section6 .social-account {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

.section3 .main-panel, .section1, .section2, .section3, .section4, .section5, .section6, .section7 {
  max-width: 960px;
  margin: 0 auto;
  padding: 1px 0;
  /*Makes the section surround all it's children?*/ }

.section2 .main-panel, .section4 .contact, .section5, .section7 {
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0 5%;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif; }

p {
  margin: 0;
  letter-spacing: normal; }

.text-center {
  text-align: center; }

.keyword-hl {
  color: #fff; }

.decrease-font {
  font-size: 12px; }

.section3 .main-panel {
  display: flex; }

.section3 .projects {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  max-width: 50%; }
  .section3 .projects .project {
    -webkit-flex: intial;
    flex: intial;
    min-width: 100px; }
  .section3 .projects .project img {
    width: 100%; }

.project:hover {
  opacity: 0.5; }

.project-display {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 5%; }
  .project-display .project-example {
    -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%; }
  .project-display .project-description {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #4dff97;
    text-align: center;
    width: 100%; }
    .project-display .project-description p {
      font-family: "Raleway", Helvetica, Arial, sans-serif;
      font-size: 2rem;
      font-weight: 400;
      color: #ea29c4;
      margin-bottom: 30px;
      padding: 0 12.5%; }
  .project-display .code-snippet {
    display: none; }

.calculator .project-example {
  padding: 30px 0;
  background-color: #14CCC5; }

.calculator .project-example p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #e6e6e6;
  text-align: center;
  max-width: 75px;
  display: inline-block;
  margin: 0 5px; }

.calculator .project-example p .input {
  max-width: 75px;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  text-align: center; }

.calculator h2 {
  margin: 0;
  margin-top: 10px;
  height: 20px; }

.clock .project-example {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 1vh solid #fff;
  border-radius: 50%;
  padding: 2rem;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ea29c4; }

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* account for the height of the clock hands */ }

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90Deg);
  transition: all 0.05s;
  transition-timing-function: ease-in-out; }

.drumkit {
  width: 100%; }

.drumkit .project-example {
  background: #ff5a8c;
  width: 100%; }

.keys {
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px; }

.key {
  margin: 0 3px;
  width: 20%;
  border: 3px solid black;
  border-radius: 5px;
  transition: all .07s;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black; }

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600; }

kbd {
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #e6e6e6;
  text-align: center; }

.sound {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffc600;
  text-align: center;
  text-transform: uppercase; }

.flexpanel {
  position: relative;
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200; }

.flexpanel-panels {
  overflow: hidden;
  display: flex;
  min-height: 30vh; }

.flexpanel-panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  align-items: center;
  text-align: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center; }

.flexpanel-panel1 {
  background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }

.flexpanel-panel2 {
  background-image: url(https://source.unsplash.com/1CD3fd8kHnE/1500x1500); }

.flexpanel-panel3 {
  background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }

.flexpanel-panel4 {
  background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }

.flexpanel-panel5 {
  background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/* Panel Items */
.flexpanel-panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center; }

.flexpanel-panel > *:first-child {
  transform: translateY(-100%); }

.flexpanel-panel.open-active > *:first-child {
  transform: translateY(0); }

.flexpanel-panel > *:last-child {
  transform: translateY(100%); }

.flexpanel-panel.open-active > *:last-child {
  transform: translateY(0); }

.flexpanel-panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em; }

.flexpanel-panel p:nth-child(2) {
  font-size: 4em; }

.flexpanel-panel.open {
  font-size: 40px;
  flex: 5; }

.typeahead {
  width: 100%; }

.typeahead .project-example {
  background-color: #ffc600 !important;
  border-radius: 6px; }

/**, *:before, *:after {
  box-sizing: inherit;
}*/
.typeahead-search {
  padding: 20px; }

.typeahead-search-form {
  margin: 0 auto;
  padding-bottom: 20px;
  /* Spacing below default ul list to match spacing at top */ }

input.typeahead-search {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.19);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.19);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #e6e6e6;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  outline: 0;
  border: 10px solid #F7F7F7;
  width: 90%;
  z-index: 2;
  border-radius: 5px; }

.typeahead-suggestions {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  max-height: 238px;
  overflow: hidden;
  /*perspective:20px;*/ }

.typeahead-suggestions li {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize; }

.typeahead-suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%); }

.typeahead-suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%); }

span.typeahead-population {
  font-size: 15px; }

.typeahead-hl {
  background: #ffc600; }

.code-snippet {
  width: 450px;
  position: absolute;
  top: 500px;
  right: 5%;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #4d4d4d; }

code {
  background-color: inherit;
  margin: 0;
  padding: 0;
  font-size: 16px; }

code p {
  margin: 0;
  padding: 0; }

.indented {
  padding-left: 10px; }

.indented-2 {
  padding-left: 20px; }

.indented-3 {
  padding-left: 30px; }

.template-string {
  color: var(--accentred); }

.code-text {
  /* 85% dark white*/
  color: #d9d9d9; }

.var-declaration {
  /* 30% dark green */
  color: var(--accentgreen); }

.var-name {
  color: var(--primary); }

.function {
  color: var(--accentred); }

.property {
  color: var(--accentred); }

.var-refer {
  color: var(--accentgreen); }

.operator {
  color: white; }

.method {
  color: var(--accentred); }

.object {
  color: var(--secondary); }

.string {
  color: var(--magenta); }

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 7px;
  width: 34%;
  vertical-align: middle;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

progress::-webkit-progress-bar {
  /* style rules */
  background-color: #f3f3f3;
  border: 0;
  height: 7px;
  vertical-align: middle;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

progress::-webkit-progress-value {
  /* style rules */
  background-color: #ea29c4;
  border: 0;
  height: 7px;
  vertical-align: middle;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

progress::-moz-progress-bar {
  /* style rules */
  background-color: #ea29c4;
  border: 0;
  height: 7px;
  vertical-align: middle;
  border-radius: 6px;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

.table-responsive {
  min-height: .01%;
  overflow-x: auto; }

.table {
  border-spacing: 0px; }

tr {
  vertical-align: middle; }

.table tr:hover {
  background-color: #ea29c4; }

td {
  padding: 2em;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #e6e6e6;
  text-align: center; }

th {
  text-align: center; }

#contact-button {
  height: 250px;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--accentgreen); }

#contact-button:hover {
  opacity: 0.7; }

.main-panel {
  position: relative;
  background: none;
  box-shadow: none;
  transition: margin 0.5s; }

.content {
  background-color: rgba(0, 0, 0, 0.2); }

.section1 {
  margin-bottom: 200px; }

.section1 .main-panel {
  margin-top: 25px;
  margin-left: 200px; }

.section1 .main-panel .face {
  padding-top: 80%;
  opacity: 0.4;
  background-image: url(../images/about-me.png);
  background-size: cover;
  background-position: center; }

.section1 .about-me {
  -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: -50%;
  margin-left: -140px;
  width: 290px;
  padding: 0 30px 30px 30px;
  transition: margin 0.5s;
  color: #e6e6e6;
  background: #14CCC5; }

.section1 .title {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 5px;
  color: #4dff97;
  margin: 0; }

.section1 .subtitle {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 5px;
  color: #4dff97;
  text-align: center;
  margin: 5px 0 10px 0; }

.section1 .span-container {
  margin-left: 12px;
  /*Centers the intro span within the .about-me container*/ }

.section1 .about-me .desc {
  line-height: 2em;
  letter-spacing: 1px; }

.section2 .main-panel {
  margin-bottom: 50px; }

.section2 .main-panel .package-intro {
  display: flex-block;
  -webkit-flex: 1;
  flex: 1;
  padding: 0 20px;
  /* spacing to control line length */
  transition: width 0.5s, top 0.5s, left 0.5s; }
  .section2 .main-panel .package-intro h2 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ea29c4;
    text-align: center;
    margin: 0; }
  .section2 .main-panel .package-intro h1 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #4dff97;
    text-align: center;
    margin: 0; }

.section2 .main-panel .package-content {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 525px;
  margin: 0 20px;
  display: inline-block;
  color: #e6e6e6;
  background-color: #14CCC5;
  overflow: hidden; }

.section2 .additional-skills {
  margin-bottom: 75px; }
  .section2 .additional-skills .skillset {
    display: inline-block;
    width: 34%;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: right;
    color: #a9a9a9; }

.section3 {
  margin-bottom: 80px; }

.section4 {
  -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 250px;
  background-color: #14CCC5; }

.section4 .contact {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10rem;
  font-weight: 400;
  letter-spacing: 12px;
  color: #4dff97;
  text-align: center;
  margin: 0 auto;
  height: 250px;
  text-decoration: none; }

.section4 .contact:hover {
  color: #fff; }

.section5 {
  height: 250px; }

.section5 .info {
  width: 50%; }

.section5 span {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #4dff97;
  text-align: center;
  display: block;
  margin-bottom: 5px; }

.section5 span:last-child {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #ea29c4;
  text-align: center; }

.section6 {
  margin-bottom: 80px; }

.section6 .social-account {
  display: inline-block;
  width: 49%;
  vertical-align: top; }

.section6 a {
  display: block;
  position: relative;
  background: url(../images/youtube-channel-1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 133.76%;
  /* (img-height / img-width * container-width (i.e. % width)) */ }

.section6 .social-account:hover {
  opacity: 0.8;
  transform: scale(1.1); }

.section7 {
  height: 100px;
  background-color: #14CCC5; }

@media screen and (max-width: 900px) {
  .section1 .main-panel {
    margin-left: 125px;
    margin-top: 25px; }

  .section1 .main-panel .about-me {
    margin-top: -30%;
    margin-left: -100px;
    margin-bottom: 0px; }

  .section2 .main-panel .package-content td {
    padding: 1.75em; }

  .section4 .contact {
    font-size: 8rem; }

  .section5 {
    display: none; }

  .section6 {
    margin-top: 80px; }

  .section6 .social-account {
    display: block;
    padding: 0 25%;
    width: 100%; } }
@media screen and (max-width: 825px) {
  .section1 {
    margin-bottom: 100px; }

  .section2 .main-panel .package-content td {
    padding: 1.15em; }

  .section5 {
    height: 100%; }

  .section5 .instagram-post {
    width: 100%;
    float: none; }

  .section5 .info {
    display: none; }

  .section6 .youtube-post {
    width: 100%;
    float: none; }

  .section6 a {
    height: auto; }

  .section6 .info {
    display: none; } }
@media screen and (max-width: 750px) {
  .section1 .main-panel {
    margin-left: 100px;
    margin-top: 100px; }

  .section1 .main-panel .about-me {
    margin-top: -30%;
    margin-left: -70px; }

  .section1 .main-panel .title {
    font-size: 4rem; }

  .section2 .main-panel {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 50px; }

  .section2 .main-panel .package-content {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto; }

  .section2 .main-panel .package-intro {
    margin-bottom: 30px; }

  .section2 .main-panel .package-intro h1 {
    margin: 0; }

  .section2 .additional-skills .skillset {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%; }

  .section2 .additional-skills progress {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 300px; }

  .section3 .main-panel .projects .first-to-hide {
    display: none; }

  .section3 .main-panel {
    display: block; }

  .section3 .projects {
    display: block;
    max-width: 100%;
    padding: 0 5%; }

  .section3 .projects .project {
    display: inline-block;
    width: 32%; }

  .section3 .project-display {
    display: block;
    width: 100%;
    padding: 0 20%; }

  .section3 .project-display .project-example {
    width: 100%; }

  .section4 .contact {
    font-size: 5rem; }

  .section6 .social-account {
    padding: 0 15%; } }
@media screen and (max-width: 550px) {
  .section1 .main-panel {
    margin-left: 50px;
    margin-top: 50px; }

  .section1 .main-panel .about-me {
    margin-top: -30%;
    margin-left: 0px; }

  .section1 .main-panel .title {
    font-size: 4rem; }

  .section3 .main-panel .projects .second-to-hide {
    display: none; }

  .section3 .projects .project {
    width: 49%; }

  .section3 .project-display {
    padding: 0 5%; }

  .section4 {
    height: 200px; }

  .section4 .contact {
    height: 200px;
    font-size: 4rem; } }
@media screen and (max-width: 451px) {
  .section1 {
    margin-bottom: 50px; }

  .section1 .main-panel {
    margin-left: 0px;
    margin-top: 50px; }

  .section1 .about-me {
    margin-top: -30%;
    margin-left: 0px;
    width: 250px; }

  .section1 .title {
    width: 240px;
    font-size: 3rem; }

  .section1 .span-container {
    margin-left: 9px; }

  .section1 .span-container .desc {
    line-height: 1.75em; }

  .section2 .main-panel .package-content td {
    padding: .8em; }

  .section4 .contact {
    font-size: 2.5rem; }

  .section6 .social-account {
    padding: 0 5%; } }
@media screen and (max-width: 400px) {
  .section1 .main-panel .about-me {
    padding: 0 19px 19px 19px; }

  .section2 .main-panel .package-content td {
    font-size: 12px;
    padding: .9em; }

  .section2 .additional-skills progress {
    width: 250px; }

  .section3 .project-display .calculator .project-example p {
    font-size: 16px;
    margin: 0; }

  .section3 .project-display .calculator .project-example p .input {
    width: 60px; } }

/*# sourceMappingURL=style.css.map */
