<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Chris Johnson Medium</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=ROpen+Sans:400,700|Raleway|Material+Icons" rel="stylesheet" type="text/css">
    <!-- Stylesheet -->
    <link href='https://necolas.github.io/normalize.css/5.0.0/normalize.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>

  </head>

  <body>
    <div class='content'>
      <div class='section1'>
        <div class='main-panel'>
          <div class='face'></div>
          <div class='about-me'>
            <h1 class='title text-center'>CHRIS</h1>
            <h3 class='subtitle'>Web Developer</h3>
            <div class='span-container'>
              <span class='desc indented-3'>I build web <span class='keyword-hl'>solutions</span> that solves your unique <span class='keyword-hl'>business needs</span>. Possibly more, never less.</span>
            </div><!-- End Span Container -->
          </div><!--End About Me Div -->
        </div><!--End Main Panel Div -->
      </div><!--End Section1 Div -->

      <div class='section2'>
        <div class='main-panel'>
          <div class='package-intro'>
            <h1>A COMPLETE PACKAGE</h1>
            <h2>REGARDLESS OF THE JOB</h2>
          </div><!--End Package Intro Div -->
          <div class='package-content table-responsive'>
            <table class='table'>
              <tbody>
                <tr>
                  <td>Business Goals</td>
                  <td>Personal Goals </td>
                  <td>Industry</td>
                </tr>
                <tr>
                  <td>Conversion Optimization</td>
                  <td>Search Engine Optimization</td>
                  <td>A/B Testing</td>
                </tr>
                <tr>
                  <td>Hosting and Launching</td>
                  <td>3-Months Free Maintenance</td>
                  <td>Client Training</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><!--End Main Panel Div -->
        <div class='additional-skills text-center'>
          <div class='skill-wrapper'>
            <span class='skillset'>Information Architecture</span>
            <progress class='skill' value='75' max='100'></progress>
          </div>
          <div class='skill-wrapper'>
            <span class='skillset'>PHP Wordpress Development</span>
            <progress class='skill' value='50' max='100'></progress>
          </div>
          <div class='skill-wrapper'>
            <span class='skillset'><span class='decrease-font'>(Sass, Bootstrap, Bulma, Semantic)</span> CSS</span>
            <progress class='skill' value='90' max='100'></progress>
          </div>
          <div class='skill-wrapper'>
            <span class='skillset'><span class='decrease-font'>(jQuery, Vue, Angular)</span> JavaScript</span>
            <progress class='skill' value='80' max='100'></progress>
          </div>
          <div class='skill-wrapper'>
            <span class='skillset'>Google Analytics</span>
            <progress class='skill' value='75' max='100'></progress>
          </div>
        </div><!--End Skilsl Div-->
      </div><!--End Section2 Div -->

      <div class='section3'>
        <div class='main-panel text-center' id='app'>
          <div class='projects'>

            <div class='project first-to-hide' @click='clockTrue'>
              <img src='images/clock.jpg'></div>

            <div class='project' @click='calculatorTrue'>
              <img src='images/calculator.jpg'></div>

            <div class='project second-to-hide' @click='drumkitTrue'>
              <img src='images/drumkit.jpg'></div>

            <div class='project open' @click='typeAheadTrue'>
              <img src='images/type-ahead-screen.jpg'></div>

          </div>

          <div class='project-display'>
            <clock v-if='clock'></clock>
            <calculator :operations='operations' v-if='calculator'></calculator>
            <drumkit v-if='drumkit' pattern=”d*”></drumkit>
            <typeahead v-if='typeAhead'></typeahead>
          </div>
        </div>
      </div>

      <div class='section4 main-panel'>
        <a class='contact' href="mailto:johnsoctbus@gmail.com?Subject=Website%20Inquiry">CONTACT</a>
      </div>

      <div class='section5'>
        <div class='info'>
          <span>Instagram</span>
          <span>@chrisjohnsoct</span>
        </div>
        <div class='info'>
          <span>YouTube</span>
          <span>chrisjohnsonct</span>
        </div>
      </div>

      <div class='section6'>
        <div class='social-account'>
          <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BNnnu9Xjgju/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">It&#39;s freaking snowing and I&#39;m this happy!
          </a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Chris Johnson (@chrisjohnsoct) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-12-05T02:41:57+00:00">Dec 4, 2016 at 6:41pm PST</time></p></div></blockquote><script async defer src="https://platform.instagram.com/en_US/embeds.js"></script>
        </div>
        <div class='social-account'>
          <a href='https://www.youtube.com/channel/UCXRcELzQGR-9EJb155zPDmw'></a>
        </div>
      </div>

      <div class='section7 footer'>
        <p>© 2017 by Chris Johnson.</p>
      </div>
    </div>

    <script src="js/vue.min.js"></script>
    <script src='js/main.js'></script>
  </body>
</html>
