  @media screen and (max-width: 900px) {
  .section1 .main-panel {
    margin-left: 125px;
    margin-top: 25px;
  }

  .section1 .main-panel .about-me {
    margin-top: -30%;
    margin-left: -100px;
    margin-bottom: 0px;
  }

  .section2 .main-panel .package-content td {
    padding: 1.75em;
  }

  .section4 .contact {
    font-size: 8rem;
  }

  .section5 {
    display: none;
  }

  .section6 {
    margin-top: 80px;
  }

  .section6 .social-account {
    display: block;
    padding: 0 25%;
    width: 100%;
  }
}

@media screen and (max-width: 825px) {
  .section1 {
    margin-bottom: 100px;
  }

  .section2 .main-panel .package-content td {
    padding: 1.15em;
  }
  .section5 {
    height: 100%;
  }

  .section5 .instagram-post {
    width: 100%;
    float: none;
  }

  .section5 .info {
    display: none;
  }

  .section6 .youtube-post {
    width: 100%;
    float: none;
  }

  .section6 a {
    height: auto;
  }

  .section6 .info {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .section1 .main-panel {
    margin-left: 100px;
    margin-top: 100px;
  }

  .section1 .main-panel .about-me {
    margin-top: -30%;
    margin-left: -70px;
  }

  .section1 .main-panel .title {
    font-size: 4rem;
  }

  .section2 .main-panel {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .section2 .main-panel .package-content {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
  }

  .section2 .main-panel .package-intro {
    margin-bottom: 30px;
  }

  .section2 .main-panel .package-intro h1 {
    margin: 0;
  }

  .section2 .additional-skills .skillset {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .section2 .additional-skills progress {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 300px;
  }

  .section3 .main-panel .projects .first-to-hide {
    display: none;
  }

  .section3 .main-panel {
    display: block;
  }

  .section3 .projects {
    display: block;
    max-width: 100%;
    padding: 0 5%;
  }

  .section3 .projects .project {
    display: inline-block;
    width: 32%;
  }

  .section3 .project-display {
    display: block;
    width: 100%;
    padding: 0 20%;
  }

  .section3 .project-display .project-example {
    width: 100%;
  }

  .section4 .contact {
    font-size: 5rem;
  }

  .section6 .social-account {
    padding: 0 15%;
  }

}

@media screen and (max-width: 550px) {
  .section1 .main-panel {
    margin-left: 50px;
    margin-top: 50px;
  }

  .section1 .main-panel .about-me {
    margin-top: -30%;
    margin-left: 0px;
  }

  .section1 .main-panel .title {
    font-size: 4rem;
  }

  .section3 .main-panel .projects .second-to-hide {
    display: none;
  }

  .section3 .projects .project {
    width: 49%;
  }

  .section3 .project-display {
    padding: 0 5%;
  }

  .section4 {
    height: 200px;
  }

  .section4 .contact  {
    height: 200px;
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 451px) {
  .section1 {
    margin-bottom: 50px;
  }

  .section1 .main-panel {
    margin-left: 0px;
    margin-top: 50px;
  }

  .section1 .about-me {
    margin-top: -30%;
    margin-left: 0px;
    width: 250px;
  }

  .section1 .title {
    width: 240px;
    font-size: 3rem;
  }

  .section1 .span-container {
    margin-left: 9px;
  }

  .section1 .span-container .desc {
    line-height: 1.75em;
  }

  .section2 .main-panel .package-content td {
    padding: .8em;
  }

  .section4 .contact  {
    font-size: 2.5rem;
  }

  .section6 .social-account {
    padding: 0 5%;
  }
}

@media screen and (max-width: 400px) {
  .section1 .main-panel .about-me {
    padding: 0 19px 19px 19px;
  }

  .section2 .main-panel .package-content td {
    font-size: 12px;
    padding: .9em;
  }

  .section2 .additional-skills progress {
    width: 250px;
  }

  .section3 .project-display .calculator .project-example p {
    font-size: 16px;
    margin: 0;
  }

  .section3 .project-display .calculator .project-example p .input {
    width: 60px;
  }
}
