.section5 {
  @extend %section;
  @extend %flex-vert-center;
  height: 250px;
}


.section5 .info {
  width: 50%;
}

.section5 span {
  @include font-declare($stack-google-headers, 48px, 700, $color:$headers, $align:center);
  display: block;
  margin-bottom: 5px;
}

.section5 span:last-child {
  @include font-declare($stack-google-text, 32px, 400, $color:$accent, $align:center);
}
