.section4 {
  @include box-shadow(0px, 0px, 20px, 10px, rgba(0,0,0,0.1), inset);
  @extend %section;
  display: flex;
  height: 250px;
  background-color: $primary;
}

.section4 .contact {
  @include font-declare($stack-google-headers, 10rem, 400, 12px, $color:$headers, $align:center);
  @extend %flex-vert-center;
  margin: 0 auto;
  height: 250px;
  text-decoration: none;
}

.section4 .contact:hover {
  color: $white;
}
