.section2 {
  @extend %section;
}

.section2 .main-panel {
  @extend %flex-vert-center;
  margin-bottom: 50px;
}

.section2 .main-panel .package-intro {
  @include flex(flex-block, $flex-size:1);
  padding: 0 20px; /* spacing to control line length */
  transition:
    width 0.5s,
    top 0.5s,
    left 0.5s;

  h2 {
    @include font-declare($stack-google-text, 1.25rem, 700, $color:$accent, $align:center);
    margin: 0;
  }

  h1 {
    @include font-declare($stack-google-headers, 2.5rem, 700, $color:$headers, $align:center);
    margin: 0;
  }
}

.section2 .main-panel .package-content {
  @include box-shadow(10px, 10px, 20px, $color:rgba(0, 0, 0, 0.2));
  max-width: 525px;
  margin: 0 20px;
  display: inline-block;
  color: $text;
  background-color: $primary;
  overflow: hidden;
}

.section2 .additional-skills {
  margin-bottom: 75px;

  .skillset {
    display: inline-block;
    width: 34%;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: right;
    color: $grey;
  }
}
