.section1 {
  @extend %section;
  @extend %border-box;
  margin-bottom: 200px;
}

.section1 .main-panel {
  // max-width: 450px;
  @include margin-position(25px, $left:200px);
}

.section1 .main-panel .face {
  padding-top: 80%;
  opacity: 0.4;
  background-image: url(../images/about-me.png);
  background-size: cover;
  background-position: center;
}

.section1 .about-me {
  @include box-shadow(-10px, 10px, 20px, $color: rgba(0,0,0,0.2));
  @include position(relative);
  @include margin-position(-50%, $left:-140px);
  width: 290px;
  padding: 0 30px 30px 30px;
  transition: margin 0.5s;
  color: $text;
  background: $primary;
}

.section1 .title {
  @include font-declare($stack-google-headers, 5rem, 700, 5px, $color:$headers);
  margin: 0;
}

.section1 .subtitle {
  @include font-declare($stack-google-headers, 1.5rem, 400, 5px, $color:$headers, $align:center);
  margin: 5px 0 10px 0;
}

.section1 .span-container {
  margin-left: 12px; /*Centers the intro span within the .about-me container*/
}

.section1 .about-me .desc {
  line-height: 2em;
  letter-spacing: 1px;
}
