.section6 {
  @extend %section;
  margin-bottom: 80px;
}

.section6 .social-account {
  @extend %border-box;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.section6 a {
  display: block;
  position: relative;
  background: url(../images/youtube-channel-1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 133.76%; /* (img-height / img-width * container-width (i.e. % width)) */

}

.section6 .social-account:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
