.calculator .project-example {
	padding: 30px 0;
	background-color: $primary;
}

.calculator .project-example p {
	@include font-declare($stack-google-headers, 18px, 400, $color:$text, $align: center);
  max-width: 75px;
  display: inline-block;
	margin: 0 5px;
}

.calculator .project-example p .input {
	max-width: 75px;
	margin-top: 10px;
	display: inline-flex;
	align-items: center;
	text-align: center;
}

.calculator h2 {
	margin: 0;
	margin-top: 10px;
	height: 20px;
}
