.clock .project-example {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  // height: 233px;
  border: 1vh solid $white;
  border-radius: 50%;
  padding: 2rem;
  @include box-shadow(0,0,0,4px,rgba(0,0,0,0.1));
  @include box-shadow(0,0,0,3px,rgba(0,0,0,0.1), inset);
  @include box-shadow(0,0,10px,$color:rgba(0,0,0,0.1), $inset:inset);
  @include box-shadow(0,0,10px, $color:rgba(0,0,0,0.1));
  background-color: $accent;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90Deg);
  transition: all 0.05s;
  transition-timing-function: ease-in-out;
}
