.code-snippet {
  width: 450px;
  position: absolute;
  top: 500px;
  right: 5%;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #4d4d4d;
}

code {
  background-color: inherit;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

code p {
  margin: 0;
  padding: 0;
}

.indented {
  padding-left: 10px;
}

.indented-2 {
  padding-left: 20px;
}

.indented-3 {
  padding-left: 30px;
}

.template-string {
  color: var(--accentred);
}

.code-text { /* 85% dark white*/
  color: #d9d9d9;
}

.var-declaration { /* 30% dark green */
  color: var(--accentgreen);
}

.var-name {
  color: var(--primary);
}

.function {
  color: var(--accentred);
}

.property {
  color: var(--accentred);
}

.var-refer {
  color: var(--accentgreen);
}

.operator {
  color: white;
}

.method {
  color: var(--accentred);
}

.object {
  color: var(--secondary);
}

.string {
  color: var(--magenta);
}
