.drumkit {
  width: 100%;
}

.drumkit .project-example {
  background: $desc-text;
  width: 100%;
}

.keys {
  @extend %border-box;
  @include flex(flex, $flex-size:1, $align:center, $justify:center);
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
}

.key {
  margin: 0 3px;
  width: 20%;
  border: 3px solid black;
  border-radius: 5px;
  transition: all .07s;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
}

.playing {
  transform:scale(1.1);
  border-color:#ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  @include font-declare($stack-google-headers, 1.5rem, 400, $color:$text, $align:center);
}

.sound {
  @include font-declare($stack-google-text, 0.75rem, 400, $spacing:1px, $color:#ffc600, $align:center);
  text-transform: uppercase;
}
