.flexpanel {
  position: relative;
  box-sizing: border-box;
  background:#ffc600;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

.flexpanel-panels {
  overflow: hidden;
  display: flex;
  min-height: 30vh;
}

.flexpanel-panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  align-items: center;
  text-align: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}


.flexpanel-panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.flexpanel-panel2 { background-image:url(https://source.unsplash.com/1CD3fd8kHnE/1500x1500); }
.flexpanel-panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.flexpanel-panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.flexpanel-panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/* Panel Items */
.flexpanel-panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.flexpanel-panel > *:first-child { transform: translateY(-100%); }
.flexpanel-panel.open-active > *:first-child { transform: translateY(0); }
.flexpanel-panel > *:last-child { transform: translateY(100%); }
.flexpanel-panel.open-active > *:last-child { transform: translateY(0); }


.flexpanel-panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
.flexpanel-panel p:nth-child(2) {
  font-size: 4em;
}

.flexpanel-panel.open {
  font-size:40px;
  flex: 5;
}
