progress {
  background-color: #f3f3f3;
  border: 0;
  height: 7px;
  width: 34%;
  vertical-align: middle;
  border-radius: 6px;
  @include box-shadow(1px, 1px, 5px, $color:rgba(0, 0, 0, 0.1));
}

progress::-webkit-progress-bar {
  /* style rules */
  background-color: #f3f3f3;
  border: 0;
  height: 7px;
  vertical-align: middle;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
progress::-webkit-progress-value {
  /* style rules */
  background-color: $accent;
  border: 0;
  height: 7px;
  vertical-align: middle;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
progress::-moz-progress-bar {
  /* style rules */
  background-color: $accent;
  border: 0;
  height: 7px;
  vertical-align: middle;
  border-radius: 6px;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
