.section3 .main-panel {
  @extend %section;
  @include flex(flex);
}

.section3 .projects {
  @extend %border-box;
  @include flex(flex, column);
  padding: 0 5%;
  max-width: 50%;

  .project {
    @include flex($flex-size:intial);
    min-width: 100px;
  }

  .project img {
    width: 100%;
  }
}

.project:hover {
  opacity: 0.5;
}

.project-display {
  @extend %border-box;
  @include flex(flex, column);
  width: 50%;
  padding: 0 5%;

  .project-example {
    @include box-shadow(-10px, 10px, 20px, $color:rgba(0,0,0,0.2));
    width: 100%;
  }

  .project-description {
    @include font-declare($stack-google-headers, 1.5rem, 400, $color:$headers, $align:center);
    width: 100%;

    p {
      @include font-declare($stack-google-text, 2rem, 400, $color:$accent);
      margin-bottom: 30px;
      padding: 0 12.5%;
    }
  }

  .code-snippet {
    display: none;
  }
}
