.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

.table {
  border-spacing: 0px;
}

tr {
  vertical-align: middle;
}

.table tr:hover {
  background-color: $accent;
}

td {
  padding: 2em;
  @include font-declare($stack-google-text, 1rem, 400, 1px, $color:$text, $align:center)
}

th {
  text-align: center;
}
