.typeahead {
  width: 100%;
}

.typeahead .project-example {
  background-color: #ffc600 !important;
  border-radius: 6px;
}

/**, *:before, *:after {
  box-sizing: inherit;
}*/

.typeahead-search {
  padding: 20px;
}

.typeahead-search-form {
  margin: 0 auto;
  padding-bottom: 20px; /* Spacing below default ul list to match spacing at top */
}

input.typeahead-search {
  @extend %border-box;
  @include box-shadow(0, 0, 5px, $color:rgba(0,0,0,0.12));
  @include box-shadow(0, 0, 2px, $color:rgba(0,0,0,0.19), $inset:inset);
  @include font-declare($stack-google-headers, 36px, 400, $color:$text, $align:center);
  margin: 0;
  margin-top: 20px;
  outline:0;
  border: 10px solid #F7F7F7;
  width: 90%;
  z-index: 2;
  border-radius: 5px;
}

.typeahead-suggestions {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  max-height: 238px;
  overflow: hidden;
  /*perspective:20px;*/
}

.typeahead-suggestions li {
  @include box-shadow(0, 0, 10px, $color:rgba(0,0,0,0.14));
  background:white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  margin:0;
  padding:20px;
  transition:background 0.2s;
  display:flex;
  justify-content:space-between;
  text-transform: capitalize;
}

.typeahead-suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
.typeahead-suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

span.typeahead-population {
  font-size: 15px;
}

.typeahead-hl {
  background:#ffc600;
}
