$stack-sans-serif: Helvetica, Arial, sans-serif;
$stack-google-headers: 'Open Sans', $stack-sans-serif;
$stack-google-text: 'Raleway', $stack-sans-serif;

body {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0 5%;
  @include font-declare($stack-google-text, 1em, 300);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
  letter-spacing: normal;
}

.text-center {
  text-align: center;
}

.keyword-hl {
  color: $keyword-hl;
}

.decrease-font {
  font-size: 12px;
}
