//Descriptive variables

$white          : #fff;
$black          : #000;
$grey           : #a9a9a9;
$bright-blue    : #14CCC5;
$dull-blue      : #3D9995;
$bright-green   : #00FF6A;
$bright-red     : #FF407A;
$bright-magenta : #CC14A8;

//Functional variables

$primary        : $bright-blue;
$secondary      : $dull-blue;
$headers        : lighten($bright-green, 15%);
$desc-text      : lighten($bright-red, 5%);
$accent         : lighten($bright-magenta, 10%);
$text           : darken($white, 10%);
$keyword-hl     : $white;
