@mixin font-declare($font-stack, $size, $weight, $spacing:null, $l-height:null, $color:null, $align:null) {
  font-family: $font-stack;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $l-height;
  color: $color;
  text-align: $align;
}

@mixin flex($flex:null, $direction:null, $flex-size:null, $align:null, $justify:null) {
  display: $flex;
  flex-direction: $direction;
  -webkit-flex: $flex-size;
          flex: $flex-size;
  align-items: $align;
  justify-content: $justify;
}

@mixin position($position, $top:null, $left:null, $right:null) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
}

/* Reason for this:
1. I often need to define 2-3 margins, but not all 4,
2. I don't want to overwrite values like margin: 0; completely, but I want a specific margin-top, but I still want all 3 other values to be 0.
*/
@mixin margin-position($top:null, $left:null, $bottom:null, $right:null) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin box-shadow($h, $v, $blur:null, $spread:null, $color:null, $inset:null) {
  -webkit-box-shadow: $inset $h $v $blur $spread $color;
  -moz-box-shadow: $inset $h $v $blur $spread $color;
  box-shadow: $inset $h $v $blur $spread $color;
}
