%border-box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

%section {
  max-width: 960px;
  margin: 0 auto;
  padding: 1px 0; /*Makes the section surround all it's children?*/
  @extend %border-box;
}

%equal-flex {
  display: flex;
  -webkit-flex: 1;
  flex: 1;
}

%flex-vert-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
